
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 200;
    color: #3a3a3a;
    margin: 0 auto;
    width: 80%;
    min-width: 365px;
    /*box-shadow: 7px 0px 0px 4px rgba(0, 0, 0, 0.2);*/
}

/* headings and logo */
header
{
    width: 100%;
    height: 129px;
    background-image: linear-gradient(to bottom right,rgb(68, 3, 3) , rgb(247, 29, 29), rgb(247, 105, 105));
    border-bottom: 1px solid white;
}
#logo h1 , #logo h4 {
    font-family: Serif, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(34, 32, 32);
}
 a
{ text-decoration: none;
    color: #ffffff;
    
}
#logo {
    float: left;
    font-size: 130%;
    padding :5px 30px;
    width: 100%;
}
#logo h4{
    font-size: 80%;
    }
/* navigation links */
nav
{
    float: right;
    padding:5px 5px 0 5px ;
   
}
#nav-bar {
    font-size: 110%;
    letter-spacing: 3px;
    line-height: 45px;
}

#nav-bar li {
   
    padding:0 5px;
    display: inline-block;
    text-align: center;
}

#nav-bar a {
    text-decoration: none;
    color: #ffffff;
    width: 100px;
    
    display: block;
    background-color:rgba(36, 32, 32, 0.7);
}

#nav-bar a:hover {
    background-color:rgba(126, 43, 43, 0.7); 
}

.active {
    
    border: 1px solid #ffffff; 
    border-bottom: none;
}

/* image slide and cover text */

#fr-section {
    
    width: 100%;
    overflow: hidden;
    position: relative;
    /*box-shadow: 10px 10px 0 0 rgb(65, 63, 63,  0.5);
     background: url(../images/ghadames-art1.jpg) no-repeat center center;
    background-size: cover;*/
    
}
.img-slide
{
    
    width:100%;
    
 /*animation: slide 20s infinite; */ 
    
}
.img-slide img
{
 width: 100%;
 min-width: 600px;
 
}
.img-slide p
{
  
   position: absolute;
   bottom:5px;
   padding: 15px 10px;
   left:0px;
  
   background-color: rgb(65, 63, 63,  0.5);
   width: 100%;
   color: white;
   font-style: italic;
   font-weight: bold;
   font-size: medium;
}
@keyframes slide {
    0%
    {transform: translateX(0);}
    
    100%
    {
        transform: translateX(-100%);
    }
}