@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}
/*Set the text-size-adjust for all browsers*/
html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  /* Variable declarations  */
:root {
    --light_gray: #ccc;
    --dark_gray: #3a3a3a;
    --gray:rgb(65, 63, 63);
    --white:#ffffff;
    --linear_color:linear-gradient(to bottom right,rgb(68, 3, 3) , rgb(247, 29, 29), rgb(247, 105, 105));
    --nav_color:rgba(36, 32, 32, 0.8);  
    --nav_hover_color:rgba(126, 43, 43, 0.7);
}
#logo{
    --logo_font_size:120%;
}

/* page style */

body {
    font-family: Lato, sans-serif;
    font-weight: 200;
    color: var(--dark_gray);
    margin: 0 auto;
    width: 85%;
    min-width:min-content ;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}

/* headings and logo */
header
{
    width: 100%;
    height: 128px;
    background-image: linear-gradient(to bottom right,rgb(68, 3, 3) , rgb(247, 29, 29), rgb(247, 105, 105));
    border-bottom: 1px solid white;
    color: var(--white);
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    
}
#logo {
    float: left;
    padding :5px 0px 10px 30px;
    width: fit-content;
    font-size: var(--logo_font_size);
}
#logo h1 , #logo h4 {
    font-family: Serif, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
   
    text-shadow: 2px 2px 5px rgb(34, 32, 32);
}
 a
{   
    text-decoration: none;
    color: var(--white);
    font-family: inherit;
  
}

#logo h4{
    font-size: .8em;
    }

/* navigation bar */
nav
{
    float: right;
    padding:5px 5px 0 5px ;
    width: 98%;
    text-align: right;
}
#nav-bar {
    font-size: 110%;
    letter-spacing: 3px;
    line-height: 45px;
    
}
#nav-bar li {
   
    padding:0 5px;
    text-align: center;
}
.mobile-menu
{
   
    position: absolute;
    right: 10px;
    top:10px;
    overflow: hidden;
    cursor: pointer;
    z-index: 998;
    font-size: 140%;
}
#nav-bar a {
    text-decoration: none;
    
    width: 100px;
    
    display: block;
   
}

#nav-bar a:hover {
    background-color: var(--nav_hover_color); 
}


/* first section image slide and cover text */

#fr-section {
    
    width: 100%;
    overflow: hidden;
    position: inherit;
    
    z-index: -1;
}
.img-slide
{
    
    width:100%;
  
}
.img-slide img
{
 width: 100%;
 height: auto;
 object-fit: cover;
 min-height: 230px;
}
.cover-txt
{
  
   position: absolute;
   bottom:5px;
   left:0px;
   background-color: rgb(65, 63, 63,  0.5);
   width: 100%;
   
}
.cover-txt p
{
    padding: 15px 10px;
    letter-spacing: 2px;
    
    color: var(--white);
   font-style: italic;
   font-weight: bold;
   font-size: .9em;
}
/* second section container */
.snd-section
{
    padding: 10px;
    font-weight: 600;
    overflow: auto;
}
     /* .. breif artical , About articals */
#brief-artical, .artical
{
    width:fit-content;
    padding: 0 10px;
    text-align: justify;
}
#brief-artical p
{
 
 letter-spacing: 0.9px;
 font-size: 110%;
 
}
.artical p
{
    font-size: 100%;
    letter-spacing: 0.5px;
}
.artical h1{
 font-size: 160%;
 padding-bottom:5px ;
 font-weight: 900;
 letter-spacing: 1px;
 
}
div.text, div.photo
{
    width: 100%;
}
div.photo{
    
    text-align: center;
    margin: 15px auto;
   
}
div.photo img{
    width: 85%;
    height: auto;
    min-width: 200px;
    border: 1px solid var(--light_gray); 
    border-radius: 4px;  
    padding: 5px; 
    
}
    /* gellary */
 div.gallery-video 
 {
    width: 60.6%;
    margin: 5px 20px 10px 0;
    float: left;
    
    
 } 
 div.gallery-video iframe
 {
     width: 100%;
     height: auto;
     min-width: 200px;
     min-height: 300px;
     display: block;
 } 
 div.gallery-image
 {
    width: 31.4%;
    margin: 10px 5px;
    float: left;
    border: 1px solid var(--light_gray);
    overflow: hidden;
    min-width: 200px;
    height: 300px;
    text-align: center;
 }  
#first-img
{
    width: 36%;
    margin: 5px 0;
    
}
 
 div.gallery-image img
 {
    width: 100%;
    height: auto;
    min-width: 250px;
    height: 250px;
 } 
 div.desc {
    padding: 10px ;
    text-align: center;
    
  } 
 
    /* second section */
#snd-artical
{
    width: fit-content;
    overflow: hidden;
    padding-top:15px ;   
}
#snd-artical > div{
   
    text-align: center;
    padding: 10px ;
    width: 30%;
    height: 100%;
    overflow: hidden;
}

  
#snd-artical img{
    
    width: 85%;
    height: 200px;
    margin: 10px 0;
    min-width: 200px;
    max-width: 300px;
    border: 2px solid var(--light_gray);
}
#snd-artical h2{
   
    font-size: 130%;
    
}
#snd-artical p{
    
    text-align: left;
    font-size: 100%;
   
}
.left-side
{
    float:left;
}
.right-side
{
    float:right;
 
}
.middle-side
{
    margin: 0 auto;
    
}
.border-right
  {
    border-right: 1px dotted var(--gray);
  }

  /* event section */
#event-section
{
    width:auto;
    margin-top: 10px;
    padding: 10px;
    background-color: var(--gray);
   overflow: hidden;
   color: var(--white);
}
#event-section > h2
{
  
   margin: 10px 10px 5px ;
   letter-spacing: 3px;
}
.event-column {
    width: 47%;
    float:left;
    height: fit-content;
    padding: 10px 10px 15px ;

}
.event-continer
{
   padding-top: 30px  ;
   text-align: center;
   height: fit-content;
   margin: 0 auto; 
}
.event-continer h3, .event-continer h4,.event-continer p{
   
    margin: 5px ;
    letter-spacing: 1px;
}
.circle-div
{
    height: 180px;
    width: 180px;
    border-radius: 60%;
    border-style: solid;
    border-color: var(--light_gray);
    border-width: 1px;
    float: left;
    margin-bottom: 5px;
}
.right-circle-event {
    background: url('../images/indus.jpg') no-repeat  center center;
    background-size: cover;
}
.left-circle-event {
    background: url('../images/Ghadames_fastival.PNG') no-repeat center center;
    background-size: cover;
}
/* footer */
footer
{
    overflow: hidden;
    background-image: var(--linear_color);
    padding: 5px 10px;
    border-top: 1px solid var(--white);
    font-size: 100%;
    color: var(--white);
}
.google-map
{
    float: left;
    margin: 0;
    height: 100%; 
    text-align: center;
}
.google-map iframe
{
    margin: 5px;
    border: 1px solid var(--light_gray);
    border-radius: 10%;
    width: 300px;
    height: 200px;
}
.social-networks
{
  height: 100%;  
  margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.social-networks p{
  
  font-size:120% ;
  font-weight: 600;
  letter-spacing: 2px;
}
.social-networks p a{
    
    font-size:70% ;
  }
  .social-networks p a:hover{
    
    font-size:90% ;
  }
.social-networks li {
  display: inline;

}

.social-networks i {
  font-size: 150%;
  margin:20px ;
 
}
.social-networks i:hover {
    
    transform: scale(1.5, 1.5);
  }
  .copyright
  {
      text-align: center;
      width: auto;
      margin: 20px auto;
  }
  .copyright p
  {
      font-size: .58em;
      font-weight: 500;
      letter-spacing: 1px;

  }

/* Media queries */

/* For medium screen sizes from 900px wide and down */

@media screen and (max-width: 900px) {
    .event-column  {
      width: 95%;
      clear: both;
    }
    div.gallery-video 
    {
       width: 95%;
       min-height: auto;
       margin: 5px auto;
       float: none;
     }
     #first-img
   {
       width: 31.4%;
       margin: 5px ;
       
   }
  }
/* For  small screens size from 800px wide and down */
  @media screen and (max-width: 800px) {
    
    #snd-artical > div {
      width: fit-content;
      clear: both ;
      float: none;
    }
    .border-right
  {
    border: none;
  }
  .social-networks i {
    
    margin:15px ;
   
  }
 
}
@media screen and (max-width:790px){
    
    div.gallery-image, #first-img
    {
        width: 47.4%;
        
    }
    
}
  /* For  small screens size from 600px wide and down */
  @media screen and (max-width: 600px) {
    body{
        width: 100%;
        
    }
    #nav-bar li{
        display: none;
    }  
#nav-burger
 {
    
    cursor: pointer;
    opacity: 0;
}
#nav-burger:checked + label {
    
    transform: rotate(45deg);
}
#nav-burger:checked ~ #nav-bar {
    
    
    position: absolute;
    right: 0px;
    top:0px;
    overflow: hidden;
    z-index: 997;
    padding: 30px 0 0 0;
    background-color:var(--nav_color);
    transition: 0.5s linear;
    
 /* transform: translate(-2px, 0);
  -ms-transform: translate(-50%, -50%);*/
}
#nav-burger:checked ~ #nav-bar li {
    
    display: flex;
    padding: 0;

}
    .google-map
    {
        width: 95%;
        
    }
    .google-map iframe
    {
        margin: 5px;
        border: 1px solid var(--white);
        border-radius: 10%;
        width: 100%;
        
    }
    .mobile-menu{
        display: block;
    }
    #logo {
        
       padding-left: .7em;
       --logo_font_size:105%;
    }
    div.gallery-image, #first-img
    {
        width: 80%;
        float: none;
        margin: 10px auto;
    }
  }
  /* For  screens size from 601px wide and up */
  @media screen and (min-width: 601px) {
   
    .mobile-menu{
        display: none;
    }
    
    #nav-bar {
        
        position: absolute;
        bottom: 0px;
        right:5px;
    }
#nav-bar li {
   
    display: inline-block;
   
}

#nav-bar a {
    
    background-color:var(--nav_color);
}
.active {
    
    border: 1px solid var(--white); 
    border-bottom: none;
      
}

  }